* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 60%;
    height: 60%;
    position: relative;
    overflow: hidden;
}
.Login,.signup{
    background-color: white; 
    width: 50%;
    padding: 60px;
    border-radius : 16px 0 0 16px;
}
.Login p{
    color: #636363;
}
.right{
    background: linear-gradient(135deg, #035b5b, #059191);
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius :0  16px  16px 0;
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(0%);
    transition: transform 0.4s ease-in-out;
}
.input-group{
    padding: 10px 10px 10px 0;
}
.input-group input{
    display: inline-block;
    width: 80%;
    height: 25px;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #636363;
    transition:
        border-color 0.25s ease-in-out,
        box-shadow   0.25s ease-in-out;
}
.input-group input:focus{
    border: 2px solid rgb(3, 91, 69);
    box-shadow: 0 0 30px rgba(3, 89, 91,0.5);
    outline: none;
}
button{
    width: 78%;
    height:35px;
    padding: 8px 15px 15px 15px;
    border-radius: 5px;
    font-size: 15px;
    margin: 10px 0 15px 0;
    background: linear-gradient(135deg, #035b5b, #059191);
    border: none;
    color: white;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: rgb(0, 62, 63);
    cursor: pointer;
}
.switch{
    color: #636363;
}
.switch span{
    color: rgba(3, 89, 91);
    font-weight: 600;
    transition:color 0.3s ease;
}
.switch span:hover{
    color: rgb(0, 62, 63);
    font-weight: 600;
    cursor: pointer;
}
.signup{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    left: 50%;
    border-radius: 0  16px  16px 0;
    z-index: 0;
}
#MsgSiUp,#MsgSiIn{
    color: red;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: rgb(0, 62, 63);
}
